* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  background-color: rgb(212, 165, 130);
  height: 100%;
  padding: 3vh;
  gap: 6vw;
  align-items: center;
}

header a {
  padding: 1.3em 5em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #b3e5b7;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

header a:hover {
  background-color: #d8a952;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

header a:active {
  transform: translateY(-1px);
}

.logo {
  width: 20vh;
  border-radius: 20px;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2vh;
  background-color: rgb(231, 205, 182);
}

.about {
  font-size: 20px;

}

.order {
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  margin: 10px;
}

form {
  display: flex;
  flex-direction: column; /* Располагаем элементы вертикально */
  gap: 15px; /* Добавляем отступ между полями */
  padding: 20px;
  background: #ffd88f; /* Светлый фон */
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

form input {
  border:  solid 1px peru;
  background-color: #d8a952;
}

.facts {
  display: grid;
  grid-template-columns: auto;
  background-color: wheat;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
}

footer {
  background-color: rgb(212, 165, 130);
  text-align: center;
  padding: 3vh;
}


.box {
  background-color: wheat;
  padding: 4vh;
  width: 60vw;
}